/*.background
{
    background: url('../images/background.png') no-repeat -8px 50px;
    height: 450px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}*/

.menu
{
    height: 50px;
}


.navbar__element:hover
{
    background-color: #15a98b;
}

.navbar__link:hover
{
    filter: brightness(0) invert(0.9);
}

.navbar__link
{
    display: flex;
    height: 50px;
    align-items: center;
    padding: 2px 22px 0 45px;
    text-decoration: none;
    font-size: 19px;
    line-height: 32px;
    color: #333333;
    font-family: "Georgia";
}

.navbar__image-littleman
{
    background: url('../images/littleman.png') no-repeat 20px 17px;
}

.navbar__image-heart
{
    background: url('../images/heart.png') no-repeat 20px 18px;
}

.navbar__image-camera
{
    background: url('../images/camera.png') no-repeat 19px 17px;
}

.container
{
    padding: 5%;
    margin: 100px auto 110px;
}

.grid-container
{
    display: grid;
    grid-template-columns: 100%;
}

.photo
{
    grid-row: 1;
    display: flex;
    justify-content: center;
}


.author
{
    grid-row: 2;
}

.image-stick
{
    grid-row: 3;
}

.phrase
{
    grid-row: 4;

}

.contenter
{
    grid-row: 5;
}

.sidebar__list
{
    grid-row: 6;
}

.linker
{
    grid-row: 7;
}

.phrase__citate
{
    margin: 28px 0 0 3px;
}

.phrase__citate-text
{
    color: #000;
    font: italic 28px/1.5 Georgia ;
}

.phrase__author
{
    margin: 3px 0 16px 7px;

}

.phrase__author-text
{
    color: #000;
    font: 600 16px/2.6 'Open Sans', sans-serif;
}



.author__title
{
    margin: 33px 0 21px 4px;
}

.author__title-text
{
    color: #333333;
    font: 700 48px/0.8 "Open Sans", sans-serif;
}




.contenter__info
{

    margin: 39px 0 19px 0;
}

.contenter__text
{
    color: #555555;
    font: 19px/1.7 "Georgia" ;
}

.contenter__title-hobby
{
    margin: 37px 0 18px -2px;
}

.contenter__title-hobby-text
{
    color: #333333;
    font: 400 36px/1.1 "Open Sans", sans-serif;
}
.contenter__hobby
{
    margin: 0 0 40px 0;
}



.linker__link
{
    text-decoration: none;
    color: #15a98b;
    font: 19px/1.7 "Georgia";
}

.link__hover:hover
{
    color: #098d72;
}

.link__underline
{
    border-bottom: 1px solid #15a98b;
}



.photo__image
{
    border-radius: 5px;
    margin: 50px 0;
}



.list-header
{
    color: #15a98c;
    font: 600 24px/1.3 "Open Sans";
}

.header-up
{
   margin: 40px 0 0 0;
}

.marker-list
{
    margin-left: -35px;
}

.list
{
    margin-top: 15px;
}

.list__item
{

    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
}

 .item-ul
{
    list-style: none;
    background: url(../images/point.png) no-repeat 0 15px;
    padding-left: 17px;
}

.header-down
{
    margin: 40px 0 0 0;
}

.number-list
{
    margin: 14px 0 20px -40px
}

.item-ol
{
    list-style-position: inside;
}

.movies
{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

.movies__storage
{

    margin-top: 10px;
}

.storage__cinema
{
    color: #333333;
    font: 400 36px/1.1 "Open Sans", sans-serif;
    margin: 26px 0 35px 0;
}

.storage__pages
{

    margin-bottom: 21px;
}

.pages__card
{

}

.card__move
{
    width: 100%;
}

.card__title
{
    font-size: 22px;
    line-height: 32px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";
    margin: 19px 2px 17px -2px;
}

.card__text
{

    font-size: 16px;
    line-height: 28px;
    color: #555555;
    font-family: "Georgia";
    margin-bottom: 50px;
}

.storage__button
{
    display: flex;
    justify-content: center;
}

.button
{
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: "Georgia";
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98c;
    border: 0;
    margin: 0 0 60px -19px;
}

.button:hover
{
    background-color: #098d71;
}

.button:focus,
.content__button:focus
{
   outline: none;
}

.form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    width: 100%;
}

.form__title
{
    display: inline-flex;
    align-items: center;
    margin-left: -10px;

}

.title__line
{
    display: inline-flex;

    height: 1px;
    background-color: rgb(48, 48, 48);
    margin: 0;
}

.title__text
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 300;
    font-family: "Open Sans";
    margin: 0 26px;
    text-transform: uppercase;
}

.form__content
{
    width: 100%;
    margin-top: 66px;
    display: flex;
    flex-direction: column;

}

.content__text
{
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 3px 0 3px 0;
}

.content__text_red::after
{
    content: " *";
    color:  red;
}

.content__printing
{
    margin-bottom: 23px;
    height: 45px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    padding: 0 20px;
}

.content__country
{
    margin-bottom: 37px;

    height: 49px;
    border-radius: 3px;
    padding: 0 17px;
    appearance: none;
    background: url('../images/arrow.png') no-repeat 97% 17px;
    border: 2px solid #a6a6a6;
}

.country__item
{
    font-size: 18px;
    line-height: 32px;
    color: #555555;
    font-weight: 400;
    font-family: "Open Sans";
}

.content__radio
{
    padding: 3px 0 32px 1px;
}

.radio__item
{
    margin: 0;
}

.radio
{
    margin-left: 3px;
    margin-right: 36px;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
}

.content__write
{

    height: 142px;
    border-radius: 3px;
    resize: none;
    border: 2px solid #c9c9c9;
}

.content__button
{
    margin: 50px 0;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98c;
    border: 0;
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: "Georgia";
}

.content__button:hover
{
        background-color: #098d71;
}

.content__printing:hover,
.content__country:hover,
.radio__item:hover,
.content__write:hover
{
    border: 2px solid #15a98c;
}

.content__printing:focus,
.content__country:focus,
.radio__item:focus,
.content__write:focus
{
    outline: none;
    border: 2px solid  rgb(48, 48, 48);
}

.footer
{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #f9f9f9;
}

.postscripte__text
{
    font-size: 16px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
    margin: 0 20px 0 0;
}

@media screen and (min-width: 768px)
{
    .grid-container
    {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 350px 100px 51% 70px;
        grid-column-gap: 40px;
    }

    .photo
    {
        grid-row: 1;
        grid-column: 1;
    }


    .author
    {
        grid-row: 2;
        grid-column: 2;
    }

    .image-stick
    {
        grid-row: 2;
        grid-column: 2;
        align-self: end;
    }

    .phrase
    {
        grid-row: 1;
        grid-column: 2;
    }

    .contenter
    {
        grid-row: 3;
        grid-column: 2;
        width: 96%;
    }

    .sidebar__list
    {
        grid-row: 2/4;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .linker
    {
        grid-row: 4;
        grid-column: 2;
        align-self: end;
    }

    .photo__image
    {
        margin: 0;
    }

    .menu__navbar
    {
        display: flex;
        justify-content: center;
    }

    .storage__pages
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .pages__card
    {
        width: 45%;
    }

    .form__content
    {

        width: 540px;
    }

    .background
    {
        background: url('../images/background.png') no-repeat -8px 50px;
        height: 450px;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .phrase__citate-text,
    .phrase__author-text
    {
        color: #fff;
    }
}

@media screen and (min-width: 1366px)
{
    .background
    {
        margin: 0;
        padding: 0;
    }

    .grid-container
    {
        display: grid;
        grid-template-rows: 175px 175px 460px 70px;
        grid-template-columns: 330px 600px;
        grid-column-gap: 30px;
        margin-top: 15px;
    }

    .photo
    {
        grid-row: 1/3;
        grid-column: 1;
    }

    .sidebar__list
    {
        grid-row: 3;
        grid-column: 1;
    }

    .author
    {
        margin: 60px 0 0 0;
    }

    .container
    {
        width: 960px;
        margin: 100px auto 0;
    }

    .menu
    {
        display: flex;
        justify-content: center;
    }

    .menu__navbar
    {
        display: flex;
        justify-content: left;
        width: 960px;
    }

    .phrase__citate
    {
        margin: 25px 0 0px 35px;
    }

    .phrase__author
    {
        margin: 4px 0 0px 35px;
    }

    .movies__storage
    {
        width: 1200px;
    }

    .pages__card
    {
        width: 285px;
    }

    .author__title
    {
        margin: 1px 0 0px 35px;
    }

    .image-stick
    {
        margin: 0px 0 33px 30px;
    }

    .contenter__info
    {
        margin: 9px 0 49px 30px;
    }

    .contenter__title-hobby
    {
        margin: 75px 0 0 28px;
    }

    .contenter__hobby
    {
        margin: 15px 0 0 30px;
    }

    .linker
    {
       margin: 0px 0 0 30px;
    }

    .header-up
    {
        margin: 45px 80px 0 0;
    }

    .item-ul
    {
        margin: 0 117px 0 0;
    }

    .header-down
    {
        margin: 25px 94px 0px 0;
    }

    .item-ol
    {
        margin: 0 135px 0px 0;
    }

    .storage__pages
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .movies
    {
        margin: -35px 0 0px 0px;
    }

    .button
    {
        margin: 5px 0 60px -19px;
    }
}

