.background
{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    height: 450px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-position: -8px 50px;
}

.menu
{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__navbar
{
    width: 960px;
    display: flex;
}

.navbar__element:hover
{
    background-color: #15a98b;
}

.navbar__link:hover
{
    filter: brightness(0) invert(0.9);
}

.navbar__link
{
    display: flex;
    height: 50px;
    align-items: center;
    padding: 2px 22px 0 45px;
    text-decoration: none;
    font-size: 19px;
    line-height: 32px;
    color: #333333;
    font-family: "Georgia";
}

.navbar__image-littleman
{
    background-image: url('../images/littleman.png');
    background-repeat: no-repeat;
    background-position: 20px 17px;
}

.navbar__image-heart
{
    background-image: url('../images/heart.png') ;
    background-repeat: no-repeat;
    background-position: 20px 18px;
}

.navbar__image-camera
{
    background-image: url('../images/camera.png') ;
    background-repeat: no-repeat;
    background-position: 19px 17px;
}

.container
{
    width: 1040px;
    margin: 100px auto 110px;
    font-size: 0px;
}

.main
{
    width: 570px;
    font-size: 20px;
    float: right;
    margin: 16px 40px 0 0;
}

.phrase
{
   margin: 118px 0 85px 0

}

.quotes
{
    margin-top: 0px;
}

.phrase__citate
{
    margin: 28px 0 0 3px;
}

.phrase__citate-text
{
    color: #ffffff;
    font: italic 28px/1.5 Georgia ;
}

.phrase__author
{
    margin: 3px 0 16px 7px;

}

.phrase__author-text
{
    color: #ffffff;
    font: 600 16px/2.6 'Open Sans', sans-serif;
}

.article
{
    margin-top: 50px;
    height: 640px;

}

.article__title
{
    margin: 33px 0 21.16px 4px;
}

.article__title-text
{
    color: #333333;
    font: 700 48px/0.8 "Open Sans", sans-serif;
}

.article__image-stick
{
}

.article__info
{
    width: 561px;
    height: 198px;
    margin: 39px 0 19px 0;
}

.article__text
{
    color: #555555;
    font: 19px/1.7 "Georgia" ;
}

.article__title-hobby
{
    margin: 37px 0 17.88px -2px;
}

.article__title-hobby-text
{
    color: #333333;
    font: 400 36px/1.1 "Open Sans", sans-serif;
}
.article__hobby
{
    margin: 0 0 40px 0;
}

.article__link
{
    text-decoration: none;
    color: #15a98b;
    font: 19px/1.7 "Georgia";
}

.link__hover:hover
{
    color: #098d72;
}

.link__underline
{
    border-bottom: 1px solid #15a98b;
}

.sidebar
{
    font-size: 20px;
    width: 300px;
    float: left;
    margin: 110px 0 0 40px;
}

.sidebar__image
{
    border-radius: 5px;
}

.sidebar__lists
{
    height: 490px;
}

.list-header
{
    color: #15a98c;
    font: 600 24px/1.3 "Open Sans";
}

.header-up
{
   margin: 40px 0 0 0;
}

.marker-list
{
    margin-left: -35px;
}

.list
{
    margin-top: 15px;
}

.list__item
{
    width: 330px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
}

 .item-ul
{
    list-style: none;
    background: url(../images/point.png) no-repeat 0 15px;
    padding-left: 17px;
}

.header-down
{
    margin: 40px 0 0 0;
}

.number-list
{
    margin: 14px 0 20px -40px
}

.item-ol
{
    list-style-position: inside;
}

.clear
{
    clear: both;
}

.movies
{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

.movies__storage
{
    width: 1200px;
    margin-top: 10px;
}

.storage__cinema
{
    color: #333333;
    font: 400 36px/1.1 "Open Sans", sans-serif;
    margin: 25.88px 0 34.88px 0;
}

.storage__pages
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}

.pages__card
{
    width: 285px;
}

.card__title
{
    font-size: 22px;
    line-height: 32px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";
    margin: 19.26px 2px 17.26px -2px;
}

.card__text
{
    width: 285px;
    height: 521px;
    font-size: 16px;
    line-height: 28px;
    color: #555555;
    font-family: "Georgia";
}

.storage__button
{
    display: flex;
    justify-content: center;
}

.button
{
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: "Georgia";
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98c;
    border: 0;
    margin: 0 0 60px -19px;
}

.button:hover
{
    background-color: #098d71;
}

.button:focus,
.content__button:focus
{
   outline: none;
}

.form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.form__title
{
    display: inline-flex;
    align-items: center;
    margin-left: -10px;

}

.title__line
{
    display: inline-flex;
    width: 200px;
    height: 1px;
    border: 0;
    background-color: rgb(48, 48, 48);
    margin: 0;
}

.title__text
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 300;
    font-family: "Open Sans";
    margin: 0 26px;
    text-transform: uppercase;
}

.form__content
{
    width: 540px;
    margin-top: 66px;
    display: flex;
    flex-direction: column;

}

.content__text
{
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 3px 0 3px 0;
}

.content__text_red::after
{
    content: " *";
    color:  red;
}

.content__printing
{
    width: 496px;
    margin-bottom: 23px;
    height: 45px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    padding: 0 20px;
}

.content__country
{
    margin-bottom: 37px;
    width: 540px;
    height: 49px;
    border-radius: 3px;
    padding: 0 17px;
    appearance: none;
    background: url('../images/arrow.png') no-repeat 498px 17px;
    border: 2px solid #a6a6a6;
}

.country__item
{
    font-size: 18px;
    line-height: 32px;
    color: #555555;
    font-weight: 400;
    font-family: "Open Sans";
}

.content__radio
{
    padding: 3px 0 32px 0.5px;
}

.radio__item
{
    margin: 0;
}

.radio
{
    margin-left: 3px;
    margin-right: 36px;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
}

.content__write
{
    width: 532px;
    height: 142px;
    border-radius: 3px;
    resize: none;
    border: 2px solid #c9c9c9;
}

.content__button
{
    margin: 50px 0;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98c;
    border: 0;
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: "Georgia";
}

.content__button:hover
{
        background-color: #098d71;
}

.content__printing:hover,
.content__country:hover,
.radio__item:hover,
.content__write:hover
{
    border: 2px solid #15a98c;
}

.content__printing:focus,
.content__country:focus,
.radio__item:focus,
.content__write:focus
{
    outline: none;
    border: 2px solid  rgb(48, 48, 48);
}

.footer
{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #f9f9f9;
}

.postscripte__text
{
    font-size: 16px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
    margin: 0 20px 0 0;
}
