.container
{
    width: 960px;
    margin: 100px auto;
    font-size: 0px;
}
.col-2
{
    position:relative;
    right: -360px;
    vertical-align: top;
    width: 570px;
    display:inline-block;
    margin-left: 30px;
    font-size: 20px;
}
.lists
{
    height: 770px;
    margin-top: 50px;
}
.phrase
{
    margin-top: 50px;
    height: 300px;

}
.article
{
    margin-top: 50px;
    height: 770px;

}
.phrase-citate
{
    margin-top: -24px;
    margin-left: 60px;
    width: 500px;
    font-size: 28px;
    line-height: 42px;
    color: #848484;
    font-style: italic;
    font-family: "Georgia";
}
.phrase-author
{
    margin-top: -25px;
    margin-left: 63px;
    font-size: 16px;
    line-height: 42px;
    color: #333333;
    font-weight: 600;
    font-family: "Open Sans";
}
.article-writer
{
    margin-top: -5px;
    margin-left: 4px;
    font-size: 48px;
    line-height: 42px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";
}
.article-stick
{
    margin-top: -13px;
}
.article-info
{
    width: 561px;
    height: 198px;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
}
.article-hobby-alignment
{
    margin-top: 39px;
}
.article-info-alignment
{
    margin-top: -15px;
}
.article-hobby
{
    margin-left: -2px;
    margin-top: 36px;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
}
.link-alignment
{
    margin-top: -16px;
    margin-left: 0px;
    color: #15a98b;
}
.link-alignment:hover
{
    color: #098d72;
}
.link
{
    text-decoration: none;
    color: #15a98b;
    width: 562px;
    height: 263px;
    font-size: 19px;
    line-height: 32px;
    font-family: "Georgia";
}
.link:hover
{
    color: #098d72;
}
.link-underline
{
    border-bottom: 1px solid #15a98b;
}
.col-1
{
    position:relative;
    right: 600px;
    vertical-align: top;
    width: 330px;
    display:inline-block;
    margin-right: 30px;
    font-size: 20px;
}
.image
{
    border-radius: 5px;
}
.list-header
{

    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-weight: 600;
    font-family: "Open Sans";
}
.list-header-up
{
   margin-top: -10px;
}
.list-writers
{
    margin-top: -11px;
    margin-left: -35px;
}
.list-header-item
{
    width: 330px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
 }
 .list-header-item-ul
 {
    list-style: none;
    background: url(../images/point.png) no-repeat 0 15px;
    padding-left: 17px;
 }
.list-header-down
{
   margin-top: 41px;
}
.list-shows
{
  margin-top: -12px;
  margin-left: -40px;
}
.list-header-item-ol
{
    list-style-position: inside;
}


